.container {
    align-items: center;
    text-align: center;
    width: 500px;
    height: 250px;padding: 20px;
    /* border: 4px dotted #001bff; */
margin-left: auto;margin-right: auto;background: white;border-radius: 5px;box-shadow: 0px 0px 20px 6px #858585;margin-top: 50px;}

h1.header-title {
    float: left;
    color: #040404ad;
}

.divider {
    width: 350px;
    border: 2px solid rgb(221 221 221);
    margin-top: 73px;
}

button#new-quote-btn {
    margin: 25px 28px 13px 16px;
    float: left;
    background: rgb(10 129 251) ;
    color: #fff;
    border-radius: 4px;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: .2s;
    font-size: 14px;
}

#new-quote-btn:hover{
    background: #3aa13a;
    
}

p#quote-body {
    font-size: 20px;
}

body{
    background: #bfbfbf;
}

a{
    text-decoration: none;
}

.branding{
    color: #0a81fb;
}